<!doctype html><!-- simplified doctype works for all previous versions of HTML as well -->

<!-- Paul Irish's technique for targeting IE, modified to only target IE6, applied to the html element instead of body -->
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->

<head>
	<!-- simplified character encoding -->
	<meta charset="utf-8">

	<title>FireTracker</title>
	<meta name="description" content="FireTracker">
	<meta name="author" content="">

	<!-- Main style sheet. Change version number in query string to force styles refresh -->
	<!-- Link element no longer needs type attribute -->
	<link rel="stylesheet" href="http://mtaylor.webfactional.com/media/css/screen.css?v=1.0">

	<!-- Modernizr for feature detection of CSS3 and HTML5; must be placed in the "head" -->
	<!-- Script tag no longer needs type attribute -->
	<script src="http://mtaylor.webfactional.com/media/js/modernizr-1.6.min.js"></script>

	<!-- Remove the script reference below if you're using Modernizr -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<!-- If possible, use the body as the container -->
<!-- The "home" class is an example of a dynamic class created on the server for page-specific targeting -->
<body class="home">
	
	<!-- ******************************************************************** -->
	<!-- The content below is for demonstration of some common HTML5 elements  -->
	<!-- More than likely you'll rip out everything except header/section/footer and start fresh -->
	
	<!-- First header has an ID so you can give it individual styles, and target stuff inside it -->
	
	<header id="hd1">

		<!-- "hgroup" is used to make two headings into one, to prevent a new document node from forming -->
		<hgroup>
		<h1>FIRETRACKER</h1>
		</hgroup>

		<!-- Main nav, styled by targeting "#hd1 nav"; you can have more than one nav element per page -->

		<nav>
<p><a href="/firestarter/">Return to home</a></p>
		</nav>


	</header><!-- #hd1 -->

	<!-- This is the main "div" that wraps the content generically; don't use "section" for this -->
	<div id="main">

		<!-- The first of two "section" elements for demo purposes; optional class added for styling (hs1 = "home section 1") -->
		<section class="hs1">
		<!-- Each section should begin with a new h1 (not h2), and optionally a header -->
		<!-- You can have more than one header/footer pair on a page -->

<p><strong>Name:</strong> {{ person.first_name }} {{ person.last_name }}</p>
<p><strong>Birthdate:</strong> {{ person.dob }}</p>
{% if person.title %}<p><strong>Title:</strong> {{ person.title.title }}</p>
<p><strong>Employer:</strong> {{ person.title.employer.name }}</p>{% endif %}


</section>

	</div><!-- #main -->
	
	<!-- The main footer has an ID for targeting, similar to the main header -->
	<footer id="f1">
	<p>Built by <cite><a href="http://www.megantaylor.org">Megan Taylor</a></cite> using <a href="http://www.andymboyle.com/2011/01/30/step-two-installing-setting-up-basic-django-project/">Andy Boyle's tutorial</a>.</p>
	</footer><!-- #f1 -->

<!-- Remote jQuery with local fallback; taken from HTML5 Boilerplate http://html5boilerplate.com -->
<!-- jQuery version might not be the latest; check jquery.com -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>

<!-- Below is your script file, which has a basic JavaScript design pattern that you can optionally use -->
<!-- Keep this and plugin scripts at the bottom for faster page load; combining and minifying scripts is recommended -->
<script src="http://mtaylor.webfactional.com/media/js/general.js"></script>

<!-- asynchronous analytics code by Mathias Bynens; change UA-XXXXX-X to your own code; http://mathiasbynens.be/notes/async-analytics-snippet -->
<!-- this can also be placed in the <head> if you want page views to be tracked quicker -->
</body>
</html>